* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: white;
  height: 120px;
  font-family: 'Libre Baskerville', serif;
}

header nav {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  position: relative;
  left: 50px;
  top: 32px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item {
  position: relative;
  right: 40px;
  text-decoration: none;
  margin: 10px;
  padding: .5rem 1rem;
  color: black;
  font-family: 'Raleway', sans-serif;
  display: none;
  top: 32px;
}

.item.btn {
  background-color: black;
  border-radius: .5rem;
  color: white;
}

.item.contenedor-carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item .carrito {
  position: relative;
  right: -6px;
  top: 1px;
}

.item .marca {
  position: absolute;
  padding: .25rem;
  min-width: 30px;
  font-size: .75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -3px;
  left: 35px;
  border-radius: .5rem;
  background-color: #FFBA60;
}

@media only screen and (min-width: 768px) {
  .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .carrito {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.seccion-texto {
  background-image: url("/fondo.png");
  background-color: #cccccc;
  height: 650px;
  background-size: cover;
  background-position: bottom;
  padding: 30px 0 0 40px;
  color: #cccccc;
}

.seccion-texto.fondo-img {
  opacity: 60%;
}

main .seccion-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

h1 {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
}

h2 {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.columna {
  width: 100%;
}

button {
  background-color: #000000;
  color: #cccccc;
  padding: 10px 50px;
  border-radius: 40px;
  border: solid 1px #000000;
}

.conocenos {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
/*# sourceMappingURL=Challenge.css.map */