*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header{
    background-color: white;
    height: 68px;
    position: sticky;
    top: 0px;
    opacity: .9;
    
}

header nav{
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    
}

header nav .items{
    padding-left: 10rem;
    padding-right: 10rem;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: small;
    margin-left: 100px;
    
    
}

header nav .item{
    text-decoration: none;
    margin: 5px;
    color: #323c61;
    
}

header nav .logo{
    max-width: 99.5px;
    margin:  20px;
    margin-bottom: 1px;
}

header nav .logo img{
    width: 100%;
}

main{
    background-color: gray;
    height: 700px;
}

main .cuadro{
    max-width: 400px;
    margin-left: 200px;
    margin-right: auto;
    background-color: blue;
    height: 200px;
    
}

footer{
    width: 100%;
    padding: 50px;
}

.flexcont{
    display: flex;
    justify-content: space-around;
    color: #4A25AA;
}

.imagen{
    height: 40px;
    width: 60px;
}
.cajas{
    list-style: none;
}

.cajas h3{
    margin-top: 0;
    margin-bottom: 20px;
    color: #4a25aa;
    font-size: 16px;
    line-height: 1.5;
}

.uno{   
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie{
    padding: 50px 0px;
    width: 100%;
    text-align: center;
}

ul{
    text-decoration: none;
}

.links{
    display: block;
    margin-bottom: 10px;
    color: #323c61;
    font-weight: 400;
}



