* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: white;
  height: 68px;
  font-family: 'Libre Baskerville', serif;
}

header nav {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  position: relative;
  left: 50px;
  top: 32px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item {
  position: relative;
  right: 40px;
  text-decoration: none;
  margin: 10px;
  padding: .5rem 1rem;
  color: black;
  font-family: 'Raleway', sans-serif;
  display: none;
  top: 32px;
}

.item.btn {
  background-color: black;
  border-radius: .5rem;
  color: white;
}

.item.contenedor-carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item .carrito {
  position: relative;
  right: -6px;
  top: 8px;
}

.item .marca {
  position: absolute;
  padding: .25rem;
  min-width: 30px;
  font-size: .75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -3px;
  left: 35px;
  border-radius: .5rem;
  background-color: #FFBA60;
}

.cuerpo {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 200px;
  width: 960px;
  height: 751px;
  top: 1200px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 245, 245, 0)), color-stop(51.56%, #F5F5F5), to(rgba(245, 245, 245, 0)));
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 51.56%, rgba(245, 245, 245, 0) 100%);
}

.tipo_piano {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.05rem;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  font-style: normal;
  width: 470px;
  height: 62px;
  top: 1100px;
  left: 246px;
}

.pianos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*caja de pianos general*/
  background: #FFFFFF;
  /* shadow-cards */
  -webkit-box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  width: 250px;
  height: 239px;
  top: 2083px;
  left: 49px;
  border-radius: 8px;
}

.Descrip1 {
  position: relative;
  background-color: aqua;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Monto {
  border-radius: 8px;
  border-style: solid;
  background-color: #FFFFFF;
  padding-right: 20px;
  width: 161px;
  height: 36px;
  top: 2270px;
  left: 65px;
}

.pianos1 {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 15px;
}

.carritob {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
}

.precioC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px;
}

.vermas {
  position: relative;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 8px;
  width: 129px;
  height: 32px;
  top: 200px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (min-width: 768px) {
  .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .carrito {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=challenge.css.map */