* {
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: white;
  height: 120px;
  font-family: 'Libre Baskerville', serif;
}

header nav {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  position: relative;
  left: 50px;
  top: 32px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item {
  position: relative;
  right: 40px;
  text-decoration: none;
  margin: 10px;
  padding: .5rem 1rem;
  color: black;
  font-family: 'Raleway', sans-serif;
  display: none;
  top: 32px;
}

.item.btn {
  background-color: black;
  border-radius: .5rem;
  color: white;
}

.item.contenedor-carrito {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item .carrito {
  position: relative;
  right: -6px;
  top: 1px;
}

.item .marca {
  position: absolute;
  padding: .25rem;
  min-width: 30px;
  font-size: .75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -3px;
  left: 35px;
  border-radius: .5rem;
  background-color: #FFBA60;
}

@media only screen and (min-width: 768px) {
  .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .carrito {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.cuerpo {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 200px;
  width: 960px;
  height: 751px;
  top: 1200px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(245, 245, 245, 0)), color-stop(51.56%, #F5F5F5), to(rgba(245, 245, 245, 0)));
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 51.56%, rgba(245, 245, 245, 0) 100%);
}

.tipo_piano {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.05rem;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  font-style: normal;
  width: 470px;
  height: 62px;
}

.pianos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*caja de pianos general*/
  background: #FFFFFF;
  /* shadow-cards */
  -webkit-box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  width: 250px;
  height: 239px;
  top: 2083px;
  left: 49px;
  border-radius: 8px;
}

.Descrip1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Monto {
  border-radius: 8px;
  border-style: solid;
  background-color: #FFFFFF;
  padding-right: 20px;
  width: 161px;
  height: 36px;
  top: 2270px;
  left: 65px;
}

.pianos1 {
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 15px;
}

.carritob {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
}

.precioC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px;
}

.vermas {
  position: relative;
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 8px;
  width: 129px;
  height: 32px;
  top: 200px;
  left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.seccion-texto {
  background-image: url("/fondo.png");
  background-color: #cccccc;
  height: 650px;
  background-size: cover;
  background-position: bottom;
  padding: 30px 0 0 40px;
  color: #cccccc;
}

main .seccion-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

h1 {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
}

h2 {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.columna {
  width: 50%;
}

button {
  background-color: #000000;
  color: #cccccc;
  padding: 10px 50px;
  border-radius: 40px;
  border: solid 1px #000000;
}

.conocenos {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("pics/pianista.png");
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
}

footer {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: linear-gradient(177.96deg, rgba(255, 255, 255, 0.43) 1.72%, #6F6F6F 107.44%);
}

.copy-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: row;
      -ms-flex-pack: row;
          justify-content: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copy {
  font-size: 16px;
  opacity: 0.7;
  font-weight: 50;
  padding: 10px;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 40%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
}

.footer-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 3rem 6rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .logo {
  Width: 112px;
  Height: 111px;
}

.footer-content-container .social-media {
  width: 200px;
  text-decoration: none;
  height: 45px;
  width: 45px;
  line-height: 45px;
  color: black;
  margin: 10px;
}

.links {
  font-size: 16px;
  font-weight: 100;
  text-decoration: none;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #6F6F6F;
  }
  .logo {
    position: absolute;
    top: 1px;
  }
  .social-media {
    position: absolute;
    top: 50px;
  }
}
/*# sourceMappingURL=challenge.css.map */