
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    width: auto;
    height: auto;
}
header{
    max-width: 100%;
    height: 56px;
}

.aside1{

    padding-right: 10px;
  
    
}

.aside2{

    padding-left: 10px;
    
    
}

.link-title{
   text-decoration: none;
   
}

.notify{
    border-radius: 20%;
    background-color: orange;
    border: 1px solid orange;
    
}

